NET ddr2_a[0] LOC = "H30"; 
NET ddr2_a[1] LOC = "P31"; 
NET ddr2_a[2] LOC = "J31"; 
NET ddr2_a[3] LOC = "T31"; 
NET ddr2_a[4] LOC = "K32"; 
NET ddr2_a[5] LOC = "U31"; 
NET ddr2_a[6] LOC = "K31"; 
NET ddr2_a[7] LOC = "T33"; 
NET ddr2_a[8] LOC = "L31"; 
NET ddr2_a[9] LOC = "U32"; 
NET ddr2_a[10] LOC = "R31"; 
NET ddr2_a[11] LOC = "M32"; 
NET ddr2_a[12] LOC = "U33"; 
NET ddr2_a[13] LOC = "M31"; 
NET ddr2_ba[0] LOC = "R34"; 
NET ddr2_ba[1] LOC = "P32"; 
NET ddr2_ba[2] LOC = "T34"; 
NET ddr2_cas# LOC = "G31"; 
NET ddr2_ck[0] LOC = "R33"; 
NET ddr2_ck#[0] LOC = "R32"; 
NET ddr2_cke[0] LOC = "P34"; 
NET ddr2_cs#[0] LOC = "F31"; 
NET ddr2_dm[0] LOC = "F33"; 
NET ddr2_dm[1] LOC = "E32"; 
NET ddr2_dqs[0] LOC = "L34"; 
NET ddr2_dqs#[0] LOC = "K34"; 
NET ddr2_dqs[1] LOC = "J32"; 
NET ddr2_dqs#[1] LOC = "H33"; 
NET ddr2_dq[0] LOC = "D34"; 
NET ddr2_dq[1] LOC = "G33"; 
NET ddr2_dq[2] LOC = "E34"; 
NET ddr2_dq[3] LOC = "F34"; 
NET ddr2_dq[4] LOC = "J34"; 
NET ddr2_dq[5] LOC = "A33"; 
NET ddr2_dq[6] LOC = "H34"; 
NET ddr2_dq[7] LOC = "B33"; 
NET ddr2_dq[8] LOC = "C32"; 
NET ddr2_dq[9] LOC = "G32"; 
NET ddr2_dq[10] LOC = "D32"; 
NET ddr2_dq[11] LOC = "E33"; 
NET ddr2_dq[12] LOC = "L33"; 
NET ddr2_dq[13] LOC = "C33"; 
NET ddr2_dq[14] LOC = "K33"; 
NET ddr2_dq[15] LOC = "C34"; 
NET ddr2_odt[0] LOC = "B32"; 
NET ddr2_ras# LOC = "E31"; 
NET ddr2_we# LOC = "N32"; 