NET $4N385 LOC = "M33"; 
NET $4N386 LOC = "N33"; 
NET $4N471 LOC = "AH33"; 
NET $4N472 LOC = "AG33"; 
NET $4N738 LOC = "R28"; 
NET $4N739 LOC = "R29"; 
NET $4N750 LOC = "AD31"; 
NET $4N751 LOC = "AE31"; 
NET $5N797 LOC = "E18"; 
NET $5N798 LOC = "D19"; 
NET $5N880 LOC = "L11"; 
NET $5N881 LOC = "L10"; 
NET $6N1241 LOC = "V4"; 
NET $6N1764 LOC = "D8"; 
NET $6N1765 LOC = "C8"; 
NET $6N1782 LOC = "AL7"; 
NET $6N1784 LOC = "AM7"; 
NET $6N1794 LOC = "Y4"; 
NET $6N1796 LOC = "Y3"; 
NET $8N433 LOC = "M23"; 
NET $8N637 LOC = "N23"; 
NET $8N659 LOC = "N22"; 
NET CRIO_RXC LOC = "V5"; 
NET CRIO112_1 LOC = "M3"; 
NET CRIO112_2 LOC = "U3"; 
NET CRIO112_3 LOC = "N3"; 
NET CRIO112_4 LOC = "T3"; 
NET CRIO112_5 LOC = "R3"; 
NET CRIO112_6 LOC = "R4"; 
NET CRIO114_1 LOC = "AC3"; 
NET CRIO114_2 LOC = "V3"; 
NET CRIO114_3 LOC = "W3"; 
NET CRIO114_4 LOC = "AB3"; 
NET CRIO114_5 LOC = "AA3"; 
NET CRIO114_6 LOC = "AA4"; 
NET CRIO116_1 LOC = "F3"; 
NET CRIO116_2 LOC = "L3"; 
NET CRIO116_3 LOC = "G3"; 
NET CRIO116_4 LOC = "K3"; 
NET CRIO116_5 LOC = "J3"; 
NET CRIO116_6 LOC = "J4"; 
NET CRIO118_1 LOC = "AD3"; 
NET CRIO118_2 LOC = "AJ3"; 
NET CRIO118_3 LOC = "AE3"; 
NET CRIO118_4 LOC = "AH3"; 
NET CRIO118_5 LOC = "AG3"; 
NET CRIO118_6 LOC = "AG4"; 
NET CRIO120_1 LOC = "C4"; 
NET CRIO120_2 LOC = "E3"; 
NET CRIO120_3 LOC = "C3"; 
NET CRIO120_4 LOC = "D3"; 
NET CRIO120_5 LOC = "D5"; 
NET CRIO120_6 LOC = "F4"; 
NET CRIO122_1 LOC = "AK3"; 
NET CRIO122_2 LOC = "AM3"; 
NET CRIO122_3 LOC = "AL3"; 
NET CRIO122_4 LOC = "AM4"; 
NET CRIO122_5 LOC = "AJ4"; 
NET CRIO122_6 LOC = "AK5"; 
NET CRIO124_1 LOC = "C10"; 
NET CRIO124_2 LOC = "C5"; 
NET CRIO124_3 LOC = "C9"; 
NET CRIO124_4 LOC = "C6"; 
NET CRIO124_5 LOC = "C7"; 
NET CRIO124_6 LOC = "D7"; 
NET CRIO126_1 LOC = "AM10"; 
NET CRIO126_2 LOC = "AM5"; 
NET CRIO126_3 LOC = "AM6"; 
NET CRIO126_4 LOC = "AM9"; 
NET CRIO126_5 LOC = "AL8"; 
NET CRIO126_6 LOC = "AM8"; 
NET DDRA_A[0] LOC = "H30"; 
NET DDRA_A[1] LOC = "P31"; 
NET DDRA_A[2] LOC = "J31"; 
NET DDRA_A[3] LOC = "T31"; 
NET DDRA_A[4] LOC = "K32"; 
NET DDRA_A[5] LOC = "U31"; 
NET DDRA_A[6] LOC = "K31"; 
NET DDRA_A[7] LOC = "T33"; 
NET DDRA_A[8] LOC = "L31"; 
NET DDRA_A[9] LOC = "U32"; 
NET DDRA_A[10] LOC = "R31"; 
NET DDRA_A[11] LOC = "M32"; 
NET DDRA_A[12] LOC = "U33"; 
NET DDRA_A[13] LOC = "M31"; 
NET DDRA_BA[0] LOC = "R34"; 
NET DDRA_BA[1] LOC = "P32"; 
NET DDRA_BA[2] LOC = "T34"; 
NET DDRA_CAS# LOC = "G31"; 
NET DDRA_CK LOC = "R33"; 
NET DDRA_CK# LOC = "R32"; 
NET DDRA_CKE LOC = "P34"; 
NET DDRA_CS# LOC = "F31"; 
NET DDRA_DQM[0] LOC = "F33"; 
NET DDRA_DQM[1] LOC = "E32"; 
NET DDRA_DQS[0] LOC = "L34"; 
NET DDRA_DQS0# LOC = "K34"; 
NET DDRA_DQS[1] LOC = "J32"; 
NET DDRA_DQS1# LOC = "H33"; 
NET DDRA_DQ[0] LOC = "D34"; 
NET DDRA_DQ[1] LOC = "G33"; 
NET DDRA_DQ[2] LOC = "E34"; 
NET DDRA_DQ[3] LOC = "F34"; 
NET DDRA_DQ[4] LOC = "J34"; 
NET DDRA_DQ[5] LOC = "A33"; 
NET DDRA_DQ[6] LOC = "H34"; 
NET DDRA_DQ[7] LOC = "B33"; 
NET DDRA_DQ[8] LOC = "C32"; 
NET DDRA_DQ[9] LOC = "G32"; 
NET DDRA_DQ[10] LOC = "D32"; 
NET DDRA_DQ[11] LOC = "E33"; 
NET DDRA_DQ[12] LOC = "L33"; 
NET DDRA_DQ[13] LOC = "C33"; 
NET DDRA_DQ[14] LOC = "K33"; 
NET DDRA_DQ[15] LOC = "C34"; 
NET DDRA_ODT LOC = "B32"; 
NET DDRA_RAS# LOC = "E31"; 
NET DDRA_WE# LOC = "N32"; 
NET DDRB_A[0] LOC = "AA33"; 
NET DDRB_A[1] LOC = "AF31"; 
NET DDRB_A[2] LOC = "AB31"; 
NET DDRB_A[3] LOC = "AD30"; 
NET DDRB_A[4] LOC = "Y33"; 
NET DDRB_A[5] LOC = "AD32"; 
NET DDRB_A[6] LOC = "AA31"; 
NET DDRB_A[7] LOC = "AC32"; 
NET DDRB_A[8] LOC = "V32"; 
NET DDRB_A[9] LOC = "AC30"; 
NET DDRB_A[10] LOC = "AF30"; 
NET DDRB_A[11] LOC = "Y32"; 
NET DDRB_A[12] LOC = "AC33"; 
NET DDRB_A[13] LOC = "V33"; 
NET DDRB_BA[0] LOC = "AG30"; 
NET DDRB_BA[1] LOC = "AJ30"; 
NET DDRB_BA[2] LOC = "AK31"; 
NET DDRB_CAS# LOC = "AB32"; 
NET DDRB_CK LOC = "AA34"; 
NET DDRB_CK# LOC = "Y34"; 
NET DDRB_CKE LOC = "AJ31"; 
NET DDRB_CS# LOC = "V34"; 
NET DDRB_DQM[0] LOC = "AL33"; 
NET DDRB_DQM[1] LOC = "AM33"; 
NET DDRB_DQS[0] LOC = "AH34"; 
NET DDRB_DQS0# LOC = "AJ34"; 
NET DDRB_DQS[1] LOC = "AF34"; 
NET DDRB_DQS1# LOC = "AE34"; 
NET DDRB_DQ[0] LOC = "AF33"; 
NET DDRB_DQ[1] LOC = "AL34"; 
NET DDRB_DQ[2] LOC = "AK34"; 
NET DDRB_DQ[3] LOC = "AK33"; 
NET DDRB_DQ[4] LOC = "AN34"; 
NET DDRB_DQ[5] LOC = "AC34"; 
NET DDRB_DQ[6] LOC = "AN33"; 
NET DDRB_DQ[7] LOC = "AD34"; 
NET DDRB_DQ[8] LOC = "AG32"; 
NET DDRB_DQ[9] LOC = "AM32"; 
NET DDRB_DQ[10] LOC = "AJ32"; 
NET DDRB_DQ[11] LOC = "AK32"; 
NET DDRB_DQ[12] LOC = "AN32"; 
NET DDRB_DQ[13] LOC = "AE33"; 
NET DDRB_DQ[14] LOC = "AP32"; 
NET DDRB_DQ[15] LOC = "AE32"; 
NET DDRB_ODT LOC = "W34"; 
NET DDRB_RAS# LOC = "AB33"; 
NET DDRB_WE# LOC = "AH30"; 
NET FPGA_CCLK LOC = "N15"; 
NET FPGA_CONFIG_D[0] LOC = "AD19"; 
NET FPGA_CONFIG_D[1] LOC = "AE19"; 
NET FPGA_CONFIG_D[2] LOC = "AE17"; 
NET FPGA_CONFIG_D[3] LOC = "AF16"; 
NET FPGA_CONFIG_D[4] LOC = "AD20"; 
NET FPGA_CONFIG_D[5] LOC = "AE21"; 
NET FPGA_CONFIG_D[6] LOC = "AE16"; 
NET FPGA_CONFIG_D[7] LOC = "AF15"; 
NET FPGA_CON_TCK LOC = "AB15"; 
FPGA_CON_TDI 
NET FPGA_CON_TDO LOC = "AD14"; 
NET FPGA_CON_TMS LOC = "AC14"; 
NET FPGA_DIN LOC = "P15"; 
NET FPGA_DONE LOC = "M15"; 
NET FPGA_GPIODS0_N LOC = "AP31"; 
NET FPGA_GPIODS0_P LOC = "AP30"; 
NET FPGA_GPIODS1_N LOC = "AM30"; 
NET FPGA_GPIODS1_P LOC = "AN30"; 
NET FPGA_GPIODS2_N LOC = "AN29"; 
NET FPGA_GPIODS2_P LOC = "AP29"; 
NET FPGA_GPIODS3_N LOC = "AM28"; 
NET FPGA_GPIODS3_P LOC = "AN28"; 
NET FPGA_GPIODS4_N LOC = "AN27"; 
NET FPGA_GPIODS4_P LOC = "AP27"; 
NET FPGA_GPIODS5_N LOC = "AP25"; 
NET FPGA_GPIODS5_P LOC = "AP26"; 
NET FPGA_GPIODS6_N LOC = "AM25"; 
NET FPGA_GPIODS6_P LOC = "AN25"; 
NET FPGA_GPIODS7_N LOC = "AM22"; 
NET FPGA_GPIODS7_P LOC = "AN22"; 
NET FPGA_GPIODS8_N LOC = "AP21"; 
NET FPGA_GPIODS8_P LOC = "AP22"; 
NET FPGA_GPIODS9_N LOC = "AM20"; 
NET FPGA_GPIODS9_P LOC = "AM21"; 
NET FPGA_GPIODS10_N LOC = "AP20"; 
NET FPGA_GPIODS10_P LOC = "AN20"; 
NET FPGA_GPIODS11_N LOC = "AP19"; 
NET FPGA_GPIODS11_P LOC = "AN19"; 
NET FPGA_GPIODS12_N LOC = "AM18"; 
NET FPGA_GPIODS12_P LOC = "AN18"; 
NET FPGA_GPIODS13_N LOC = "AN17"; 
NET FPGA_GPIODS13_P LOC = "AM17"; 
NET FPGA_GPIO[0] LOC = "AM31"; 
NET FPGA_GPIO[1] LOC = "AL31"; 
NET FPGA_GPIO[2] LOC = "AL30"; 
NET FPGA_GPIO[3] LOC = "AL29"; 
NET FPGA_GPIO[4] LOC = "AM27"; 
NET FPGA_GPIO[5] LOC = "AM26"; 
NET FPGA_GPIO[6] LOC = "AL26"; 
NET FPGA_GPIO[7] LOC = "AN24"; 
NET FPGA_GPIO[8] LOC = "AP24"; 
NET FPGA_GPIO[9] LOC = "AL25"; 
NET FPGA_GPIO[10] LOC = "AN23"; 
NET FPGA_GPIO[11] LOC = "AM23"; 
NET FPGA_GPIO[12] LOC = "AP17"; 
NET FPGA_GPIO[13] LOC = "AP16"; 
NET FPGA_GPIO[14] LOC = "AM16"; 
NET FPGA_GPIO[15] LOC = "AM15"; 
NET FPGA_GPIO[16] LOC = "AK29"; 
NET FPGA_GPIO[17] LOC = "AJ29"; 
NET FPGA_GPIO[18] LOC = "AK28"; 
NET FPGA_GPIO[19] LOC = "AH28"; 
NET FPGA_GPIO[20] LOC = "AK27"; 
NET FPGA_GPIO[21] LOC = "AH27"; 
NET FPGA_GPIO[22] LOC = "AK26"; 
NET FPGA_GPIO[23] LOC = "AJ26"; 
NET FPGA_GPIO[24] LOC = "AJ25"; 
NET FPGA_GPIO[25] LOC = "AN15"; 
NET FPGA_GPIO[26] LOC = "AP15"; 
NET FPGA_GPIO[27] LOC = "AN14"; 
NET FPGA_GPIO[28] LOC = "AP14"; 
NET FPGA_GPIO[29] LOC = "AN13"; 
NET FPGA_INIT_B LOC = "N14"; 
NET FPGA_M[0] LOC = "AD21"; 
NET FPGA_M[1] LOC = "AC22"; 
NET FPGA_M[2] LOC = "AD22"; 
NET FPGA_PROG_B LOC = "M22"; 
NET FPGA_REFCLK_N LOC = "AG15"; % 9514 
NET FPGA_REFCLK_P LOC = "AH15"; 
NET FPGA_REFCLK_1 LOC = "H17"; % X2 40M
NET FPGA_REFCLK_2 LOC = "L19"; 
NET FPGA_RESET_LOW LOC = "AP12"; 
NET FPGA_TDI LOC = "AC15"; 
NET LED[1] LOC = "F5"; 
NET LED[2] LOC = "F6"; 
NET LED[3] LOC = "E6"; 
NET LED[4] LOC = "E7"; 
NET PCIE_CLK100M_N LOC = "P3"; % From mb
NET PCIE_CLK100M_P LOC = "P4"; 
PCIE_RESET 
NET PCIE_RXD0_N LOC = "P1"; 
NET PCIE_RXD0_P LOC = "N1"; 
NET PCIE_RXD1_N LOC = "T1"; 
NET PCIE_RXD1_P LOC = "R1"; 
NET PCIE_RXD2_N LOC = "Y1"; 
NET PCIE_RXD2_P LOC = "W1"; 
NET PCIE_RXD3_N LOC = "AB1"; 
NET PCIE_RXD3_P LOC = "AA1"; 
NET PCIE_TXD0_N LOC = "N2"; 
NET PCIE_TXD0_P LOC = "M2"; 
NET PCIE_TXD1_N LOC = "U2"; 
NET PCIE_TXD1_P LOC = "T2"; 
NET PCIE_TXD2_N LOC = "W2"; 
NET PCIE_TXD2_P LOC = "V2"; 
NET PCIE_TXD3_N LOC = "AC2"; 
NET PCIE_TXD3_P LOC = "AB2"; 
NET RIO_RXD1_N LOC = "AG1"; 
NET RIO_RXD1_P LOC = "AH1"; 
NET RIO_RXD2_N LOC = "AF1"; 
NET RIO_RXD2_P LOC = "AE1"; 
NET RIO_RXD3_N LOC = "AP2"; 
NET RIO_RXD3_P LOC = "AP3"; 
NET RIO_RXD4_N LOC = "AM1"; 
NET RIO_RXD4_P LOC = "AL1"; 
NET RIO_TXD1_N LOC = "AH2"; 
NET RIO_TXD1_P LOC = "AJ2"; 
NET RIO_TXD2_N LOC = "AE2"; 
NET RIO_TXD2_P LOC = "AD2"; 
NET RIO_TXD3_N LOC = "AN3"; 
NET RIO_TXD3_P LOC = "AN4"; 
NET RIO_TXD4_N LOC = "AL2"; 
NET RIO_TXD4_P LOC = "AK2"; 
NET RIO114_REFCLK_N LOC = "Y3"; %9514
NET RIO114_REFCLK_P LOC = "Y4";
NET SMA_REFCLK_N LOC = "AM7"; %X4 directly
NET SMA_REFCLK_P LOC = "AL7";
NET SMA_RXD_N LOC = "AP8"; 
NET SMA_RXD_P LOC = "AP9"; 
NET SMA_RXD0_N LOC = "C1"; 
NET SMA_RXD0_P LOC = "D1"; 
NET SMA_RXD1_N LOC = "A2"; 
NET SMA_RXD1_P LOC = "A3"; 
NET SMA_TXD_N LOC = "AN9"; 
NET SMA_TXD_P LOC = "AN10"; 
NET SMA_TXD0_N LOC = "D2"; 
NET SMA_TXD0_P LOC = "E2"; 
NET SMA_TXD1_N LOC = "B3"; 
NET SMA_TXD1_P LOC = "B4"; 
NET OPMAB_REFCLK_N LOC = "C8"; % X3
NET OPMAB_REFCLK_P LOC = "D8";
NET OPMA_RXD_N LOC = "A8"; 
NET OPMA_RXD_P LOC = "A9"; 
NET OPMA_TXD_N LOC = "B9"; 
NET OPMA_TXD_P LOC = "B10"; 
NET OPMB_RXD_N LOC = "A7"; 
NET OPMB_RXD_P LOC = "A6"; 
NET OPMB_TXD_N LOC = "B6"; 
NET OPMB_TXD_P LOC = "B5"; 
NET STATE_LED LOC = "G5"; 
NET V3_GPIO[0] LOC = "A31"; 
NET V3_GPIO[1] LOC = "B31"; 
NET V3_GPIO[2] LOC = "D31"; 
NET V3_GPIO[3] LOC = "A30"; 
NET V3_GPIO[4] LOC = "B30"; 
NET V3_GPIO[5] LOC = "C30"; 
NET V3_GPIO[6] LOC = "D30"; 
NET V3_GPIO[7] LOC = "A29"; 
NET V3_GPIO[8] LOC = "C29"; 
NET V3_GPIO[9] LOC = "D29"; 
NET V3_GPIO[10] LOC = "A28"; 
NET V3_GPIO[11] LOC = "B28"; 
NET V3_GPIO[12] LOC = "C28"; 
NET V3_GPIO[13] LOC = "B27"; 
NET V3_GPIO[14] LOC = "C27"; 
NET V3_GPIO[15] LOC = "D27"; 
NET V3_GPIO[16] LOC = "A26"; 
NET V3_GPIO[17] LOC = "B26"; 
NET V3_GPIO[18] LOC = "A25"; 
NET V3_GPIO[19] LOC = "B25"; 
NET V3_GPIO[20] LOC = "C25"; 
NET V3_GPIO[21] LOC = "D25"; 
NET V3_GPIO[22] LOC = "A24"; 
NET V3_GPIO[23] LOC = "C24"; 
NET V3_GPIO[24] LOC = "A23"; 
NET V3_GPIO[25] LOC = "B23"; 
NET V3_GPIO[26] LOC = "C23"; 
NET V3_GPIO[27] LOC = "B22"; 
NET V3_GPIO[28] LOC = "C22"; 
NET V3_GPIO[29] LOC = "A21"; 
NET V3_GPIO[30] LOC = "B21"; 
NET V3_GPIO[31] LOC = "A20"; 
NET V3_GPIO[32] LOC = "B20"; 
NET V3_GPIO[33] LOC = "C20"; 
NET V3_GPIO[34] LOC = "A19"; 
NET V3_GPIO[35] LOC = "C19"; 
NET V3_GPIO[36] LOC = "A18"; 
NET V3_GPIO[37] LOC = "B18"; 
NET V3_GPIO[38] LOC = "C18"; 
NET V3_GPIO[39] LOC = "B17"; 
NET V3_GPIO[40] LOC = "C17"; 
NET V3_GPIO[41] LOC = "D17"; 
NET V3_GPIO[42] LOC = "A16"; 
NET V3_GPIO[43] LOC = "B16"; 
NET V3_GPIO[44] LOC = "D16"; 
NET V3_GPIO[45] LOC = "A15"; 
NET V3_GPIO[46] LOC = "B15"; 
NET V3_GPIO[47] LOC = "C15"; 
NET V3_GPIO[48] LOC = "A14"; 
NET V3_GPIO[49] LOC = "C14"; 
NET V3_GPIO[50] LOC = "D15"; 
NET V3_GPIO[51] LOC = "A13"; 
NET V3_GPIO[52] LOC = "B13"; 
NET V3_GPIO[53] LOC = "D14"; 
NET V3_GPIO[54] LOC = "D11"; 
NET V3_GPIO[55] LOC = "B12"; 
NET V3_GPIO[56] LOC = "C13"; 
NET V3_GPIO[57] LOC = "D10"; 
NET V3_GPIO[58] LOC = "C12"; 
NET V3_GPIO[59] LOC = "D12"; 

